 * {
     margin: 0;
     padding: 0;
}
.containeradjust {
	padding-top : 70px;
}
.2ndbg {
	background-color: blue;
}
 body{
}
 p{
     font-size: 10px;
}
 .ogchart ul {
     margin-top: -5px;
     padding-top: 20px;
     position: relative;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
}
 .ogtitle{
     font-size: 8px;
     color: black;
}
 .ogname{
     padding-top: 10px;
     color: black;
}
 .department {
     font-weight: bold;
     margin-bottom: 5px;
     border: 3px solid #EEEEEE;
     padding: 10px 10px;
     text-decoration: none;
     color: black;
     background-color: white;
     font-family: arial, verdana, tahoma;
     font-size: 11px;
     display: inline-block;
     box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
}
 .department li a {
     color: black;
     text-decoration: none;
     border: 3px solid blue;
     padding: 2px 2px;
     text-decoration: none;
     color: black;
     font-family: arial, verdana, tahoma;
     font-size: 11px;
     display: inline-block;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
}
 .department li a:hover {
     color: black;
     text-decoration: none;
}
 .ogchart li {
     float: left;
     text-align: center;
     list-style-type: none;
     position: relative;
     padding: 20px 5px 0 5px;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
}
 .ogchart li::before, .ogchart li::after{
     content: '';
     position: absolute;
     top: 0;
     right: 50%;
     border-top: 3px solid #EEEEEE;
     width: 50%;
     height: 20px;
}
 .ogchart li::after{
     right: auto;
     left: 50%;
     border-left: 3px solid #EEEEEE;
}
 .ogchart li:only-child::after, .ogchart li:only-child::before {
     display: none;
}
 .ogchart li:only-child{
     padding-top: 0;
}
 .ogchart li:first-child::before, .ogchart li:last-child::after{
     border: 0 none;
}
 .ogchart li:last-child::before{
     border-right: 3px solid #EEEEEE;
}
 .ogchart ul ul::before{
     content: '';
     position: absolute;
     top: 0;
     left: 50%;
     border-left: 3px solid #EEEEEE;
     width: 0;
     height: 20px;
}
 .ogchart li a{
     text-decoration: none;
     padding: 2px 2px;
     display: inline-block;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
}
 .circleborder {
     display: block;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     -webkit-border-radius: 99em;
     -moz-border-radius: 99em;
     border-radius: 99em;
     border: 5px solid #eee;
     box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
 